<div class="row values">
    <div class="col-md-4">
        Image here
    </div>
    <div class="col-md-8">
        <h1 class="color-dark">Our Values</h1>
        <div><span class="color-dark">MISSION:</span> Our mission lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
            ut aliquip ex ea commodo consequat.
        </div>
        <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Possimus impedit modi, tenetur repudiandae iste
            libero vel a cupiditate quaerat hic ad veritatis 
            dicta deleniti similique accusamus. Blanditiis libero nihil
            incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Esse recusandae id quam? Quos saepe odit nam dolores necessitatibus 
            maiores ad reprehenderit excepturi delectus nostrum facere ullam illo, 
            non eaque mollitia?
        </p>
    </div>
</div>